$font-family-sans-serif: "Kumbh Sans", sans-serif;

$primary-color: hsl(26, 100%, 55%);
$PaleOrange: hsl(25, 100%, 82%);
$VeryVarkBlue: hsl(220, 13%, 13%);
$DarkGrayisBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayisBlue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
